html,
body {
    /*font-family: 'Open Sans', sans-serif;*/
    font-family: 'PT Sans Caption', 'Verdana', 'Dejavu', 'Sans', sans-serif;
    font-weight: 400;
    color: #666;
    font-size: 12px;
    line-height: 20px;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    /*background: #4f85a5;*/
    --main-light2-color: #3dc7ff;
    --main-light1-color: #34a0cf;
    --main-nav-color: #229ac8;
    --main-dark1-color: #2980a5;
    --main-dark2-color: #226b8a;
    --seach-menu-color: #f8e173;
}


footer {
    /* margin-top: 30px;*/
    padding-top: 30px;
    background-color: #303030;
    /*border-top: 1px solid #ddd;*/
    color: #e2e2e2;
}

footer hr {
    border-top: none;
    border-bottom: 1px solid #666;
}

footer a, footer a h3 {
    color: #ccc;
}

footer a h3 {
    line-height: 20px;
    margin-bottom: 0;
    font-size: 12px;
}


footer a:hover, footer a h3:hover {
    color: #fff;
}

footer h5 {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-weight: bold;
    color: #fff;
}

a {
    color: var(--main-nav-color);
}

a:hover {
    text-decoration: none;
    color: var(--main-dark2-color);
}

.footer {
    background-color: #f5f5f5;
    font-size: .9em;
    height: 60px;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    content: '';
    left: 3px;
    display: inline-block;
    width: 0;
    height: 0;
    border: solid 5px transparent;
    margin: 4px 4px 2px 4px;
    background: transparent;
}

a.asc:after {
    border-bottom: solid 7px #212529;
    border-top-width: 0;
}

a.desc:after {
    border-top: solid 7px #212529;
    border-bottom-width: 0;
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding-top: 7px;
    color: rgba(255, 255, 255, 0.5);
}

@media (max-width: 767px) {
    .nav li > form > button.logout {
        display: block;
        text-align: left;
        width: 100%;
        padding: 10px 0;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.75);
}

.nav > li > form > button.logout:focus {
    outline: none;
}

.item-responsive {
    position: relative; /* относительное позиционирование */
    /*margin-bottom: 0.5rem;
    border: white solid 2px;*/
}

.item-responsive:before {
    display: block; /* отображать элемент как блок */
    content: ""; /* содержимое псевдоэлемента */
    width: 100%; /* ширина элемента */
}

.item-responsive > .content-item {
    position: absolute; /* абсолютное положение элемент */
    /* положение элемента */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.item-2-29by1 {
    padding-top: 43.5%; /* (1:2)*100% */
}

.item-post {
    padding-top: 75.18%; /* (1:1.33)*100% */
}

.item-2-0by1 {
    padding-top: 50.00%; /* (1:2)*100% */
}

.item-3-0by1 {
    padding-top: 33.33%; /* (1:3)*100% */
}

.item-2-0by3 {
    padding-top: 66.67%; /* (2:3)*100% */
}

.item-4-3by1 {
    padding-top: 23.26%; /* (1:2)*100% */
}

.item-2-80by1 {
    padding-top: 35.71%; /* (1:2)*100% */
}

.item-moving {
    padding-top: 23.25%; /* (1:2)*100% */
}

.item-0-67by1 {
    padding-top: 149.25%; /* (1:2)*100% */
}

.item-1-1by1 {
    padding-top: 100%; /* (1:1)*100% */
}

.item-0-75by1-2 {
    padding-top: 136.33%; /* (1:2)*100% */
}

.item-0-75by1 {
    padding-top: 133.33%; /* (1:2)*100% */
}

.content-container {
    background: #ddd;
}

.carousel-caption {
    position: absolute;
    top: 50%;
    left: 50%;
    right: inherit;
    bottom: inherit;
    transform: translate(-50%, -50%);
    display: block;
    width: 100%;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
}

.landing-h1 {
    text-shadow: 1px 1px 2px black, 0 0 1em black;
    line-height: 1.2;
    font-weight: 400;
    font-size: 72px !important;
    color: #FFF !important;
    margin-bottom: 17px;
    font-family: 'PT Sans Caption', 'Verdana', 'Dejavu', 'Sans', sans-serif;
}

.landing-h1-mobile {
    text-shadow: 1px 1px 2px black, 0 0 1em black;
    line-height: 1.2;
    font-weight: 400;
    font-size: 22px !important;;
    color: #FFF !important;
    margin-bottom: 17px;
    font-family: 'PT Sans Caption', 'Verdana', 'Dejavu', 'Sans', sans-serif;
    text-align: center !important;;
}

.landing-h2 {
    text-shadow: 1px 1px 2px black, 0 0 1em black;
    font-size: 24px;
    font-weight: 300;
    letter-spacing: 5px;
    text-transform: uppercase;
    display: inline-flex;
    align-items: center;
    color: white;
}

.block-main h3 {
    padding-top: 12px;
    font-size: 16px;
    text-indent: 40px;
}

.block-main h3:before {
    content: '\1F5F8'; /*  1F5F8  2611  1F5F9  2705*/
    margin-right: 6px;
}

/****/
.d2-btn-box {
    display: flex;
    align-items: center;
    align-self: center;
}
.d2-btn {
    padding-left: 20px;
    padding-right: 20px;
    border: 0;
    display: flex;
    align-items: center;
    align-self: center;
    text-align: center;
    height: 43px;
    font-size: 1.2rem;
    justify-content: center;
    border-radius: 10px;
    /* box-shadow: 0 10px 10px rgba(0, 0, 0, .2);*/
}

.d2-btn-micro {
    width: 40px;
    height: 40px;
    justify-content: center;
    border-radius: 10px;
}

.d2-btn-sm {
    height: 29px;
}
.d2-btn-lg {
    height: 58px;
}

.d2-btn:disabled {
    background: #adadad !important;
    color: #5f5f5f !important;
}
.d2-btn-block {
    width: 100%;
}
.d2-btn-caption {
    margin-right: 10px;
}
.d2-btn-icon {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    text-align: center;
    line-height: 28px;
    background: rgba(0, 0, 0, .3);
}
.d2-btn-sm>.d2-btn-icon {
    width: 20px;
    height: 20px;
    line-height: 20px;
}
.d2-btn-lg>.d2-btn-icon {
    width: 36px;
    height: 36px;
    line-height: 36px;
}
/*Цвета*/
/** Основная кнопка. **/
.d2-btn-main {
    background: #229ac8;
    color: white;
}

.d2-btn-main:hover:not(disabled) {
    background: #227aa5;
    color: white;
}
.d2-btn-main:focus {
    outline: none;
    box-shadow: 0 0 0 4px rgba(35, 117, 160, 0.5);
}
/* Почта */
.d2-btn-mail {
    background: rgba(34, 154, 200, 0.33);
    color: #227aa5;
    border: 1px solid #229ac8;
}

.d2-btn-mail:hover:not(disabled) {
    background: #227aa5;
    color: white;
}
.d2-btn-mail:focus {
    outline: none;
    box-shadow: 0 0 0 4px rgba(35, 117, 160, 0.5);
}
/** Отменить **/
.d2-btn-cancel {
    background: #eeca6b;
    color: black;
}
.d2-btn-cancel:hover:not(disabled) {
    background: #cba766;
    color: white;
}
.d2-btn-cancel:focus {
    outline: none;
    box-shadow: 0 0 0 4px rgba(203, 167, 102, 0.5);
}
/* Координаты */
.d2-btn-empty{
    border: 1px solid #4f4f4f;
    color: #4f4f4f;
    background-color: #ffffff;
}
.d2-btn-empty:hover:not(disabled) {
    background: #4f4f4f;
    color: white;
}
.d2-btn-empty:focus {
    outline: none;
    box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.5);
}

/** Избранное **/
.d2-btn-wish {
    padding: 7.5px 12px;
    height: 32px;
    border-radius: 22px !important;
    border-width: 0 !important;
    background: #df5c39 !important;
    color: white !important;
}

.d2-btn-wish:hover {
    background: #cb5a37 !important;
    color: white !important;
}
.d2-btn-wish:focus {
    outline: none;
    box-shadow: 0 0 0 4px rgba(203, 90, 55, 0.5);
}

/* badge */
.d2-badge {
    display: inline-block;
    padding: 0.25em 0.4em;
    font-size: 75%;
    font-weight: 600;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.d2-badge:empty {
    display: none;
}
/* badge-цвета */
.d2-badge-success{
    color: white;
    background-color: #168716;
}
.d2-badge-warning{
    color: #323232;
    background-color: #ffc107; /*#d78930;*/
}
.d2-badge-info{
    color: white;
    background-color: #206287;
}
.d2-badge-primary{
    color: white;
    background-color: #229ac8;
}




/************************************/

.d2-btn-out-green {
    color: #008009;
    background: white;
}
.d2-btn-out-green:hover {
    color: #005909;
    background: white;
}
.d2-btn-out-green:focus {

    /*outline: none;
    box-shadow: 0 0 0 4px rgba(22, 95, 22, 0.5);*/
}


/** Оплатить **/
.d2-btn-pay {
    background: #168716;
    color: white;
}
.d2-btn-pay:hover:not(disabled) {
    background: #167316;
    color: white;
}
.d2-btn-pay:focus {
    outline: none;
    box-shadow: 0 0 0 4px rgba(22, 95, 22, 0.5);
}

/** Приобрести, проверить наличие **/
.d2-btn-buy {
    background: #206287;
    color: white;
}

.d2-btn-buy:hover:not(disabled) {
    background: #1b5674;
    color: white;
}
.d2-btn-buy:focus {
    outline: none;
    box-shadow: 0 0 0 4px rgba(33, 117, 155, 0.5);
}