html,
body {
    /*font-family: 'Open Sans', sans-serif;*/
    font-family: 'PT Sans Caption', 'Verdana', 'Dejavu', 'Sans', sans-serif;
    font-weight: 400;
    color: #666;
    font-size: 12px;
    line-height: 20px;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    /*background: #4f85a5;*/
    --main-light2-color: #3dc7ff;
    --main-light1-color: #34a0cf;
    --main-nav-color: #229ac8;
    --main-dark1-color: #2980a5;
    --main-dark2-color: #226b8a;
    --seach-menu-color: #f8e173;
}


footer {
    margin-top: 30px;
    padding-top: 30px;
    background-color: #303030;
    /*border-top: 1px solid #ddd;*/
    color: #e2e2e2;
}

footer hr {
    border-top: none;
    border-bottom: 1px solid #666;
}

footer a,footer a h3 {
    color: #ccc;
}

footer a h3 {
    line-height: 20px;
    margin-bottom: 0;
    font-size: 12px;
}



footer a:hover, footer a h3:hover {
    color: #fff;
}

footer h5 {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-weight: bold;
    color: #fff;
}

a {
    color: var(--main-nav-color);
}

a:hover {
    text-decoration: none;
    color: var(--main-dark2-color);
}

.footer {
    background-color: #f5f5f5;
    font-size: .9em;
    height: 60px;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    content: '';
    left: 3px;
    display: inline-block;
    width: 0;
    height: 0;
    border: solid 5px transparent;
    margin: 4px 4px 2px 4px;
    background: transparent;
}

a.asc:after {
    border-bottom: solid 7px #212529;
    border-top-width: 0;
}

a.desc:after {
    border-top: solid 7px #212529;
    border-bottom-width: 0;
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding-top: 7px;
    color: rgba(255, 255, 255, 0.5);
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 0;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.75);
}

.nav > li > form > button.logout:focus {
    outline: none;
}
